*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    
    
}
body{
    background: #060c21

}
p{
    color: #fff;
}
a{
    color: white;
}
h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
}
h2{
    color: #3498db;
    padding: 30px;
    
}
h3{
    padding: 10px;
    font-size: 1.5em;
    color: #e67e22;
}

.container {
    margin: 40px 0 50px 0;
    width: 100%;
    display: inline-flex;
    font-family: 'Bad Scrip', cursive;
    color: white;
}
.container .cl{
    width: 620px;
    text-align: center;
    margin: 50px;
    
}
.container .cr{
    margin: 50px;
    width: 620px;
    text-align: center;
    padding-left: 220px;
 
}
.container .cr p{
    width: 295px;
    text-align: center;
    line-height: 2.2em;
    border-bottom:1px solid white;
    font-size: 1.3em;
}
.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 100%;
    padding: 0 20px;
}

#can-margin ul li{
    padding: 5px;
    margin: 5px;
}
#can-margin ul li:hover {
   transform: scale(1.1);
}
#can-margin{
    position: relative;
    background: #060c21;
    margin: 70px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}
#can-margin:before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
    z-index: -2;
    filter: blur(20px);
}

.section-intro-web{
    color: #fff;
    
    /* height: 100px; */

}
.dns{
    border: 1px solid #FFF;
    display: inline-flex;
    width: 300px;
    
    font-size: 1.1em;
}
.heading-secondary{
    text-align: center;
    font-size: 4em;
}
.menu-lab{
    display: flex;
}

.menu-lab .html a:hover{
    color: #E91E63;
    
}
.menu-lab .html{
    transition: all(0.8s);
    transform: scale(1.2);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}